@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-Neutral-0: #FFFFFF;
    --color-Neutral-100: #FBF9F7;
    --color-Neutral-200: #EFEDEB;
    --color-Neutral-300: #DEDCDA;
    --color-Neutral-400: #C0BFBF;
    --color-Neutral-600: #4A4846;
    --color-Neutral-700: #34302D;
    --color-Neutral-800: #201E1D;
    --color-Neutral-900: #1C1A19;

    --color-Blue-200: #E1F1FE;
    --color-Blue-500: #93CEFC;
    --color-Blue-700: #75B0DE;
    --color-Blue-800: #5792C0;
    --color-Blue-900: #022B4A;

    --color-Green-200: #E9F5EA;
    --color-Green-500: #9DD3A9;
    --color-Green-700: #008531;
    --color-Green-900: #132A18;

    --color-Yellow-200: #FFF5E1;
    --color-Yellow-500: #FACC79;
    --color-Yellow-700: #EA9806;
    --color-Yellow-900: #4A3003;

    --color-Red-400: #F04438;
    --color-Red-600: #D92D20;

    --font-DM: "DM Sans", sans-serif;
    --font-Fira: "Fira Code", monospace;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.markdown {
    @apply flex flex-col gap-[12px];
}


.markdown p , .markdown li  {
    @apply text-Neutral-400 text-[18px] leading-[150%] tracking-[-0.2px];
}

.markdown h2 {
    @apply text-Neutral-0 font-bold text-[28px] leading-[130%] tracking-[-0.5px];
}

.markdown hr {
    @apply text-Neutral-700 my-[12px];
}

.markdown hr:first-of-type {
    @apply my-[20px];
}

.markdown br {
    @apply mt-[12px];
}

.markdown blockquote {
    @apply border-l-[4px] border-Neutral-600 px-[12px] py-[6px] ;
  }

  .markdown blockquote p {
    @apply text-Neutral-0;
  }

.markdown ol , .markdown ul{
    @apply flex flex-col gap-[12px] list-decimal  ps-7;
  }

  .markdown ul {
    @apply  list-disc  ;
  }




